.education-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-column {
  position: relative;
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto); 
  gap: 60px;
}

.edu-block {
  width: 100%; 
  max-width: 320px; 
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 16px;
  color: white;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Segoe UI', sans-serif;
  justify-self: center;
}


.edu-block:hover {
  backdrop-filter: blur(3px);
  border-color: #00e0ff;
}

/* Block placement */
.top-left {
  grid-column: 1;
  grid-row: 1;
}
.bottom-middle {
  grid-column: 2;
  grid-row: 2;
}
.bottom-left {
  grid-column: 1;
  grid-row: 3;
}
.highlight {
  color: #c6f5fb;
  font-weight: 600;
}

/* Timeline line */
.timeline {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  z-index: 0;
}

/* Timeline dots */
.dot {
  position: absolute;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #ffffffaa;
  border-radius: 50%;
  transform: translateX(-50%);
}
.dot1 { top: 25%; }
.dot2 { top: 60%; }
.dot3 { top: 95%; }


.edu-grid {
  display: flex;
}

.degree-title {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.college-name {
  font-size: 1rem;
  color: rgb(227, 227, 227);
}

.edu-right {
  text-align: right;     
}

.edu-left {
  text-align: left;  
}

.highlight {
  font-size: 0.95rem;
  font-weight: 400;
  color: hsl(186, 100%, 93%);
  white-space: nowrap;
}

.edu-year{
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff;
  white-space: nowrap;
}


/* Responsive Design */
@media (max-width: 768px) {
  .timeline-column {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
  }

  .top-left,
  .bottom-left,
  .bottom-middle {
    margin-left: 20px;
    grid-column: 1;
  }

  .timeline {
    /* left: 20%; */
    left: 0%;
  }

  .edu-grid {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .edu-right {
    align-items: flex-start;
    text-align: left;
  }
}


.timeline-column > .edu-block:nth-of-type(1):hover ~ .timeline .dot1,
.timeline-column > .edu-block:nth-of-type(1):focus-within ~ .timeline .dot1,


.timeline-column > .edu-block:nth-of-type(2):hover ~ .timeline .dot2,
.timeline-column > .edu-block:nth-of-type(2):focus-within ~ .timeline .dot2,


.timeline-column > .edu-block:nth-of-type(3):hover ~ .timeline .dot3,
.timeline-column > .edu-block:nth-of-type(3):focus-within ~ .timeline .dot3{
  background: #dffcff;
  box-shadow: 0 0 10px #b6eff5;
}

.dot {
  transition: all 0.2s ease-in-out;
}





