.experience-container {
    text-align: center;
  }

  .experience-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .experience-card {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    color: white;
    width: 100%;
    max-width: 350px;
    transition: transform 0.2s ease;
    text-align: justify;
  }
  
  .experience-card:hover {
    border: 1px solid rgba(90, 219, 255, 0.825);
  }
  
  .experience-role {
    font-size: 1.1rem;
    font-weight: 600;
    color: #f9f9f9;
  }
  
  .experience-org{
    font-size: 1.5rem;
    color: #3ab0ff;
  } 
  
  .experience-time {
    font-size: 0.95rem;
    color: #dfdfdf;
    margin: 4px 0;
  }
  
  .experience-desc {
    font-size: 0.92rem;
    margin-top: 10px;
    color: #eeefef;
  }
  
  @media (max-width: 768px) {
      
    .experience-org{
      font-size: 1.3rem;
    }
  }
  