.photo-gallery-container {
    padding: 40px 20px;
    background: rgb(0, 0, 0);
    text-align: center;
  }
  
  .photo-gallery-heading {
    color: white;
    font-size: 2.8rem;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: cursive;
  }
  
  .masonry {
    column-count: 4;
    column-gap: 8px;
    margin: auto;
  }
  
  .masonry-item {
    break-inside: avoid;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .masonry-item:hover {
    transform: scale(1.01);
  }
  
  .masonry-item img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
    
  @media (max-width: 768px) {
    .masonry {        
        column-count: 2;
        column-gap: 6px;
    }
    .masonry-item{
        margin-bottom: 10px;
    }
  }
  
  .back-button-container{
    margin-top: 20px;
  }
  .back-button {
    background-color: #1e1e1e;
    color: #aee0f0;
    border: 1px solid #aee0f0;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 0.95rem;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background 0.3s;
    text-decoration: none;
  }
  
  .back-button:hover {
    background-color: #2a2a2a;
  }
  
  .back-button:focus {
    outline: none;
  }
  