.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
  
  margin-left: 60px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  width: 300px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
}

.project-card:hover {
  backdrop-filter: blur(6px);
  border-color: #00e0ff;
}

.project-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
}

.project-timeline {
  font-size: 0.85rem;
  color: #def4fb;
}

.project-org {
  font-size: 0.9rem;
  font-style: italic;
  color: #c0c0c0;
}

.project-bullets {
  list-style: disc;
  margin-left: 18px;
  color: #ebecec;
  font-size: 0.9rem;
}

.project-bullets li {
  margin-bottom: 6px;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: auto;
}

.tech-pill {
  background: #00e0ff22;
  color: #00e0ff;
  border: 1px solid #077a8988;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
}

.project-links {
  white-space: nowrap;
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.project-links a {
  padding-left: 5px;
  color: #eafdff;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  transition: background 0.3s ease;
}

.project-links a:hover {
  color: #bff3f9e3;
}

/*  Responsive */
@media (max-width: 768px) {
  .project-card {
    width: 100%;
    max-width: 360px;
  }
  .projects-container{
    margin-left: 0px;
    margin-right: 0px;
  }
}
